/* Fonts */
.noto-sans-ethiopic {
  font-family: "Noto Sans Ethiopic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Fonts */



/* Asterisk wildcard selector to override deault styles added by the browser */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: "Noto Sans Ethiopic", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generici project styles */
    color: #3a3a3a ;
}

header {
    background-color: lightcoral;
}

h1 {
    font-family:"Oswald", sans-serif;
}

main {
    background-color: lightblue;
    /* Make main element take up surplus space to push footer down */
    flex: 1 0 auto;
}

footer{
    background-color: orange;
}